/*  ---- COLORS ---- */


$background: rgba(243, 245, 246, 1.0);
$nav: rgba(239, 239, 239, 1.0);
$footer: rgba(31, 32, 34, 1.0);


$button: #FF2910;
$brand: rgba(215, 114, 45, 1.0);
$shadow: rgba(199, 199, 199, 1.0);
