* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}

p {
    font-family: "Open Sans";
    font-size: 0.75em;
    line-height: 1.2;
    font-weight: 300;
}

h1 {
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 200;
    color: darken($blue500, 20);

    span {font-weight: 700;}
}


a, .built, strong {
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    transition: all 0.6s ease;
}

a:hover {text-decoration: underline;}

i {
    font-size: 12px;
    color: $button;
}
